.jumbotron {
  background-image: url(https://media.cntraveller.in/wp-content/uploads/2020/04/MatterhornLead.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: rgb(243, 236, 236);
}
